body{
    font-family: "Roboto";
    font-weight: bold;
}
.section1{
    text-align: center;
}
label{
    font-size: 1.1em;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
input {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s; 
}
input:focus {
    border-color: green;
    background-color: #fff;
    outline: none;
}
#mySubmit{
    background-color: rgb(68, 194, 68);
    border: none;
    border-radius: 5px;
    height: 38px;
    width: 120px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.4s;
}
#mySubmit:hover{
    background-color: green;
}
#myDelete{
    border-radius: 5px;
    height: 20px;
    width: 20px;
    font-weight: bold;
    cursor: pointer;
    border: solid 2px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}
#myDelete:hover{
    background-color: rgb(68, 194, 68);
    transform: scale(1.1) ;
    border: none;
    color: white;
    transform: translate(0, 0);
}
.error-message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.error-delete-btn {
    border: solid 2px #999;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}
.error-delete-btn:hover {
    background-color: red;
    transform: scale(1.1) ;
    border: none;
    color: white;
    transform: translate(0, 0);
}
.error-td {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    font-style: italic;
    text-align: center;
    padding: 10px;
}
.table{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    width: 70%;
    border: 1px solid #ccc;
    text-align: left;
}
table th {
    padding: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
}
table tr {
    height: 30px;
}
table td {
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 1em;
}
#defaultTd{
    background-color: #f3f3f3;
    border: none;
    font-style: italic;
    color: #999;
}
.amount-td {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newRow{
    padding: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
}